<div class="main">
  <strong *ngIf="alert!=''" style="color: rgb(255, 99, 132);">{{alert}}</strong>
  <h2 *ngIf="this.me.role!=''||this.me.leader==true">{{(this.went+1)}}/{{this.inRoom.length}}</h2>
  <h1 class="role">{{this.me.role}}</h1>
  <div *ngIf="this.me.role!=''||this.me.leader==true" class="button" [ngStyle]="{
    'background-color':button.color
  }"
  (click)="ready()">
    {{button.title}}
  </div>
  <span *ngIf="this.me.leader==true&&this.me.status==true" (click)="startGame()" >Tiếp tục</span>

</div>
